{{page-title "Calendar"}}
  <div class="calendar-container">
    <h2>Denver Wine Tours</h2>
    <div class="name-container">
      <h5>Enter your name to get started!</h5>
      <div>
        <label>First Name</label>
        {{input type="text" value=first_name}}
        <label>Last Name</label>
        {{input type="text" value=last_name}}
      </div>
    </div>
    <div class="calendar">
      {{#each-in @model as |key events|}}
        <div class="calendar-day">
          <h3>
            {{key}}
          </h3>
          <div class="days-events">
              {{#each events as |item|}}
                <div class="event-data">
                  <div class="start-time">Start Time: {{item.startTime}}</div>
                  <div class="duration">{{item.duration}} minutes</div>
                  {{#if item.booked}}
                    <button class="book-button tooltip" disabled>
                      <span class="tooltiptext">Booked by {{item.bookedBy}}</span>
                      Not Available
                    </button>
                  {{else}}
                    <button class="book-button" {{action 'createBooking' item.id on='click'}}>
                      Book Now
                    </button>
                  {{/if}}
                </div>
              {{/each}}
          </div>
        </div>
      {{/each-in}}
    </div>
  </div>
{{outlet}}